<div *ngIf="counter$ | async as counter" class="counter-container flex-col">
  <app-users-select></app-users-select>
  <div
    class="text-6xl font-sexy font-bold select-none !bg-red-500 h-[200px] w-[200px]"
  >
    {{ counter.counts }}
  </div>
  <h1 class="select-none">Super Counter</h1>
  <div class="flex gap-5">
    <button
      (click)="increment()"
      class="cursor-pointer py-2 px-3 rounded-md outline-none focus:outline-none"
    >
      +
    </button>
    <button
      (click)="decrement()"
      class="cursor-pointer py-2 px-3 rounded-md outline-none focus:outline-none"
    >
      -
    </button>
    <button
      (click)="reset()"
      class="cursor-pointer py-2 px-3 rounded-md outline-none focus:outline-none"
      id="reset-btn"
    >
      reset
    </button>
  </div>
</div>
