<div *ngIf="counter$ | async as store" class="counter-container flex-col">
  <app-users-select></app-users-select>
  <div
    class="flex items-center justify-center text-6xl font-sexy font-bold select-none h-[200px] w-[200px]"
  >
    {{ store.selected_user?.counts }}
  </div>
  <h1 class="select-none">Super Counter</h1>
  <div class="flex gap-5">
    <button
      (click)="increment()"
      class="cursor-pointer py-2 px-3 rounded-md outline-none focus:outline-none"
    >
      +
    </button>
    <button
      (click)="decrement()"
      class="cursor-pointer py-2 px-3 rounded-md outline-none focus:outline-none"
    >
      -
    </button>
    <button
      (click)="reset()"
      class="cursor-pointer py-2 px-3 rounded-md outline-none focus:outline-none"
      id="reset-btn"
    >
      reset
    </button>
    <button
      (click)="new_user()"
      class="cursor-pointer py-2 px-3 rounded-md outline-none focus:outline-none bg-emerald-500"
      id="reset-btn"
    >
      new user
    </button>
  </div>
</div>
